## [ 중복 데이터 처리 ]
- 중복 데이터 기준 => 행(row)
- 행 단위로 모든 컬럼의 값이 완전히 똑같은 데이터는 중복 데이터
- 처리 => 제거

(1) 모듈 로딩

In [1]:
import pandas as pd

(2) 데이터 준비

In [2]:
file = "../../DATA/employees.csv"

(3) 데이터 저장 : CSV -> DF

In [4]:
empDF = pd.read_csv(file)

(4) 데이터 확인

In [5]:
empDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   First Name  933 non-null    object
 1   Gender      854 non-null    object
 2   Start Date  999 non-null    object
 3   Salary      999 non-null    float64
 4   Mgmt        933 non-null    object
 5   Team        957 non-null    object
dtypes: float64(1), object(5)
memory usage: 47.0+ KB

(5) 데이터 전처리 => 나. 중복 데이터 처리

- 중복 데이터 체크 => duplicated() : 중복이면 True
- 중복 데이터 처리 => drop_duplicate() : 삭제

In [6]:
# 행 단위로 완전히 똑같은 행 검사 : 0개
empDF.duplicated().sum()

0

In [10]:
# True 컬럼
empDF.Team.duplicated().sum(), empDF.Team.nunique()

(990, 10)

In [9]:
empDF.Team

0          Marketing
1                NaN
2            Finance
3            Finance
4                 IT
            ...
996          Finance
997          Product
998     Business Dev
999            Sales
1000             NaN
Name: Team, Length: 1001, dtype: object

In [16]:
empDF.Team.drop_duplicates(keep="last")

988               HR
989            Legal
990               IT
993      Engineering
994        Marketing
995     Distribution
996          Finance
997          Product
998     Business Dev
999            Sales
1000             NaN
Name: Team, dtype: object

행 추가
* 단일 인덱스 => loc[새로운 행레이블/이름] = 새로운값
* 멀티 인덱스 => loc[새로운 행레이블/이름, 컬럼명] = 새로운값

새로운 값 추가할 때는 loc[] 를 잘 쓰면 된다. (연습 많이 해 볼 것)  
+DataFrame의 xs() 메소드