In [4]:
import pandas as pd
import numpy as np           # import math as m   => m.nan

In [5]:
data = [5, 7, np.nan, 9, 11]

- (3) 데이터 저장 => 1차원 데이터로 Series에 저장

In [11]:
sr = pd.Series(data)
sr

0     5.0
1     7.0
2     NaN
3     9.0
4    11.0
dtype: float64

- (4) 데이터 확인

In [8]:
# np.nan 때문에 dtypes 는 'float64'
sr.index, sr.shape, sr.ndim, sr.dtypes

(RangeIndex(start=0, stop=5, step=1), (5,), 1, dtype('float64'))

In [9]:
sr.values

array([ 5.,  7., nan,  9., 11.])

- (5) 연산 수행 => Series 객체 - 연산자 - 숫자

In [10]:
sr + 5

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

In [12]:
sr * 5

0    25.0
1    35.0
2     NaN
3    45.0
4    55.0
dtype: float64

In [14]:
sr % 5

0    0.0
1    2.0
2    NaN
3    4.0
4    1.0
dtype: float64

In [15]:
sr > 5

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [23]:
# pandas 에서는 and, or 연산자가 안 된다.
# &, | , ~ 를 써야 한다.
(sr > 5) & (sr < 10)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [24]:
(sr > 5) | (sr < 10)

0     True
1     True
2    False
3     True
4     True
dtype: bool

In [25]:
~(sr>5)

0     True
1    False
2     True
3    False
4    False
dtype: bool

- (5) 연산 수행 => Series 객체 - 연산자 - Series 객체

In [26]:
data2 = [2, 4, 6, 8, 9]
sr2 = pd.Series(data2)

In [27]:
print(sr + sr2, sr - sr2, sr * sr2, sr / sr2, sr % sr2, sep='\n\n')

0     7.0
1    11.0
2     NaN
3    17.0
4    20.0
dtype: float64

0    3.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

0    10.0
1    28.0
2     NaN
3    72.0
4    99.0
dtype: float64

0    2.500000
1    1.750000
2         NaN
3    1.125000
4    1.222222
dtype: float64

0    1.0
1    3.0
2    NaN
3    1.0
4    2.0
dtype: float64

In [30]:
print(sr > sr2, sr < sr2, sep='\n\n')

0     True
1     True
2    False
3     True
4     True
dtype: bool

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [31]:
sr2.index = [2, 3, 4, 5, 6]
sr2

2    2
3    4
4    6
5    8
6    9
dtype: int64

In [36]:
print(sr + sr2, sr - sr2, sr * sr2, sr / sr2, sr % sr2, sep='\n\n')

0     NaN
1     NaN
2     NaN
3    13.0
4    17.0
5     NaN
6     NaN
dtype: float64

0    NaN
1    NaN
2    NaN
3    5.0
4    5.0
5    NaN
6    NaN
dtype: float64

0     NaN
1     NaN
2     NaN
3    36.0
4    66.0
5     NaN
6     NaN
dtype: float64

0         NaN
1         NaN
2         NaN
3    2.250000
4    1.833333
5         NaN
6         NaN
dtype: float64

0    NaN
1    NaN
2    NaN
3    1.0
4    5.0
5    NaN
6    NaN
dtype: float64

In [39]:
print(sr2.reset_index(), sr2.reset_index(drop=True), sep='\n\n')

   index  0
0      2  2
1      3  4
2      4  6
3      5  8
4      6  9

0    2
1    4
2    6
3    8
4    9
dtype: int64

- (5) Series 연산수행 => 전용 메서드

In [42]:
print(sr.add(5), sr.add(5, fill_value=0), sep='\n\n')

0    10.0
1    12.0
2     NaN
3    14.0
4    16.0
dtype: float64

0    10.0
1    12.0
2     5.0
3    14.0
4    16.0
dtype: float64

In [49]:
addSR = sr.add(sr2.reset_index(drop=True), fill_value=0)
subSR = sr.sub(sr2.reset_index(drop=True), fill_value=0)
mulSR = sr.mul(sr2.reset_index(drop=True), fill_value=0)
divSR = sr.div(sr2.reset_index(drop=True), fill_value=0)

In [50]:
df = pd.DataFrame([addSR, subSR, mulSR, divSR])

- DataFrame 과 숫자 연산 수행

In [51]:
print(df+5, df-5, sep='\n\n')

      0      1     2       3           4
0  12.0  16.00  11.0  22.000   25.000000
1   8.0   8.00  -1.0   6.000    7.000000
2  15.0  33.00   5.0  77.000  104.000000
3   7.5   6.75   5.0   6.125    6.222222

     0      1     2       3          4
0  2.0   6.00   1.0  12.000  15.000000
1 -2.0  -2.00 -11.0  -4.000  -3.000000
2  5.0  23.00  -5.0  67.000  94.000000
3 -2.5  -3.25  -5.0  -3.875  -3.777778

In [52]:
print(df>5, df<5, sep='\n\n')

       0      1      2      3      4
0   True   True   True   True   True
1  False  False  False  False  False
2   True   True  False   True   True
3  False  False  False  False  False

       0      1      2      3      4
0  False  False  False  False  False
1   True   True   True   True   True
2  False  False   True  False  False
3   True   True   True   True   True

- DataFrame과 DataFrame 연산 수행 => 동일 위치의 원소끼리 연산 수행

In [54]:
df2 = df*10
df2

       0      1     2       3           4
0   70.0  110.0  60.0  170.00  200.000000
1   30.0   30.0 -60.0   10.00   20.000000
2  100.0  280.0   0.0  720.00  990.000000
3   25.0   17.5   0.0   11.25   12.222222

In [55]:
print(df+df2, df*df2, sep='\n\n')

       0       1     2        3            4
0   77.0  121.00  66.0  187.000   220.000000
1   33.0   33.00 -66.0   11.000    22.000000
2  110.0  308.00   0.0  792.000  1089.000000
3   27.5   19.25   0.0   12.375    13.444444

        0         1      2            3             4
0   490.0  1210.000  360.0   2890.00000   4000.000000
1    90.0    90.000  360.0     10.00000     40.000000
2  1000.0  7840.000    0.0  51840.00000  98010.000000
3    62.5    30.625    0.0     12.65625     14.938272

In [56]:
df.index, df.columns

(RangeIndex(start=0, stop=4, step=1), RangeIndex(start=0, stop=5, step=1))

In [57]:
df2.index, df2.columns

(RangeIndex(start=0, stop=4, step=1), RangeIndex(start=0, stop=5, step=1))

In [65]:
df.index = ['add', 'sub', 'mul', 'div']

In [66]:
df2.index = ['add', 'minus', 'mul', '/']

In [67]:
df + df2

           0      1     2      3       4
/        NaN    NaN   NaN    NaN     NaN
add     77.0  121.0  66.0  187.0   220.0
div      NaN    NaN   NaN    NaN     NaN
minus    NaN    NaN   NaN    NaN     NaN
mul    110.0  308.0   0.0  792.0  1089.0
sub      NaN    NaN   NaN    NaN     NaN

- 연산 수행 메소드 활용 => 결측치(NaN) 빈칸에 대한 처리를 수행 가능
    * fill_value 파라미터에 값 설정

In [68]:
df.add(df2, fill_value=0)

           0       1     2        3            4
/       25.0   17.50   0.0   11.250    12.222222
add     77.0  121.00  66.0  187.000   220.000000
div      2.5    1.75   0.0    1.125     1.222222
minus   30.0   30.00 -60.0   10.000    20.000000
mul    110.0  308.00   0.0  792.000  1089.000000
sub      3.0    3.00  -6.0    1.000     2.000000