## [다양한 Series 객체 생성]

#### (1) 모듈 로딩

In [1]:
import pandas as pd

#### (2) Series 객체 생성 - 방법 1  
- Series( data, index=지정)

In [2]:
sr1 = pd.Series([11, 22, 33], index=['one', 'two', 'three'])

In [3]:
sr1

one      11
two      22
three    33
dtype: int64

#### (2) Series 객체 생성 - 방법 2

In [4]:
sr1 = pd.Series([11, 22, 33], index=['one', 'two', 'three'], name='jumsu')
sr1

one      11
two      22
three    33
Name: jumsu, dtype: int64

#### (2) Series 객체 생성 - 방법 3

In [12]:
sr1 = pd.Series([253, 254, 255], index=['one', 'two', 'three'], name='jumsu', dtype='uint8')
sr1

one      253
two      254
three    255
Name: jumsu, dtype: uint8

#### (2) Series 객체 생성 - 방법 4

In [14]:
data = {'name':'홍길동', 'age':12, 'job':'도적'}

# 키가 라벨 인덕스로 기능한다
sr1 = pd.Series(data)

In [15]:
sr1

name    홍길동
age      12
job      도적
dtype: object

In [18]:
print(sr1.index, sr1.values, sep='\n')

Index(['name', 'age', 'job'], dtype='object')
['홍길동' 12 '도적']

#### Series 객체 생성 - 방법 4 => 저장되는 set 데이터

In [19]:
data = {'홍길동', 12, '도적'}

# 형변환 후 객체 생성 가능
sr1  = pd.Series(data)
sr1

TypeError: 'set' type is unordered