#### [ Series 객체 원소 인덱싱 & 슬라이싱]

#### (1) 모듈 로딩

In [5]:
import pandas as pd

In [6]:
sr1 = pd.Series(['홍길동', 12, '도적'], index=['name', 'age', 'job'])

In [7]:
sr1['age'], sr1[1], sr1.index

(12, 12, Index(['name', 'age', 'job'], dtype='object'))

In [8]:
# 이름과 직업 데이터 읽기   => 원소 단위로 읽기
sr1['name'], sr1['job'], sr1[0], sr1[2]

('홍길동', '도적', '홍길동', '도적')

In [9]:
a = [1, 2, 3]

In [10]:
a, type(a)

([1, 2, 3], list)

In [11]:
a[:1], type(a[:1])

([1], list)

In [15]:
# 이름과 직업 데이터 읽기   => 리스트 단위로 읽기
ret = sr1[['name', 'job']]  # => 리스트로 반환
type(ret), ret

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

In [16]:
ret2 = sr1[[0, 2]]
type(ret2), ret2

(pandas.core.series.Series,
 name    홍길동
 job      도적
 dtype: object)

In [17]:
# 위치 인덱스로 슬라이싱 -------------------------------
sr1[:2]

name    홍길동
age      12
dtype: object

레이블 인덱스로 슬라이싱 ---------------------------------

In [18]:
sr1['name':'job']   # 시작 <= ~ < 끝

name    홍길동
age      12
job      도적
dtype: object

In [19]:
sr1['name':'age']

name    홍길동
age      12
dtype: object