In [2]:
import pandas as pd
import numpy as np

In [3]:
score = pd.Series({
    ('James', 'English'):100,
    ('James', 'Math'):40,
    ('Ted', 'English'):78,
    ('Ted', 'Math'):39,
    ('Adam', 'English'):88,
    ('Adam', 'Math'):98,
})

In [4]:
score

James  English    100
       Math        40
Ted    English     78
       Math        39
Adam   English     88
       Math        98
dtype: int64

In [5]:
type(score.index)

pandas.core.indexes.multi.MultiIndex

In [6]:
score_df = score.unstack()
score_df

       English  Math
Adam        88    98
James      100    40
Ted         78    39

In [7]:
score_sr = score_df.stack()
score_sr

Adam   English     88
       Math        98
James  English    100
       Math        40
Ted    English     78
       Math        39
dtype: int64

In [8]:
score_sr['Adam', 'Math']

98