# 한국인 일본여행 통계 (2004~2023)

In [1]:
import pandas as pd

In [2]:
travel_file = './국민 해외관광객 주요 목적지별 통계(202311).xlsx'

In [35]:
travelDF = pd.read_excel(travel_file, sheet_name='Asia', index_col=[0, 1], header=[1, 2])
travelDF[[('일본','명수'), ('Japan', '전년대비')]]

                 일본      Japan
                 명수       전년대비
2004년 1월   164785.0        NaN
      2월   142718.0        NaN
      3월   112516.0        NaN
      4월   120427.0        NaN
      5월   115659.0        NaN
...             ...        ...
2020년 누계   487939.0  -0.912628
2021년 누계    18947.0  -0.961169
2022년 누계  1012751.0  52.451787
2023년 누계  6175767.0  10.095800
      누계        NaN        NaN

[265 rows x 2 columns]