## [ HTML -> DataFrame 으로 저장 ]

(1) 모듈 로딩 <hr>

In [1]:
import pandas as pd

(2) 데이터 준비 <hr>

In [2]:
file = '../../temp/test.html'

(3) HTML -> DataFrame 저장

In [3]:
import lxml

In [11]:
testDF = pd.read_html(io=file, encoding='utf-8')
testDF

[    0      1   2
 0  번호     이름  전공
 1   1    홍길동  의적
 2   2    마징가  로봇
 3   4    베트맨  박쥐
 4   5  스파이더맨  거미,
      0     1   2
 0  과일명    가격  수량
 1   사과  1000  32
 2  바나나  3000  10
 3   수박  5800   2]

In [12]:
type(testDF)

list

In [13]:
len(testDF)

2

In [14]:
type(testDF[0])

pandas.core.frame.DataFrame

In [15]:
testDF[0]

    0      1   2
0  번호     이름  전공
1   1    홍길동  의적
2   2    마징가  로봇
3   4    베트맨  박쥐
4   5  스파이더맨  거미