## [데이터 기반 시각화]
- 데이터 : 남북한발전전력.xlsx
- 남북한 수력발전전력량에 대한 시각화

(1) 모듈 로딩

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

(2) 데이터 준비

In [3]:
file = '../../WORK_PANDAS/WORK_240115/남북한발전전력량.xlsx'

- 실제 데이터 파일 확인 결과
* 첫 번째 행은 컬럼명 데이터
* 첫 번째와 두 번째 컬럼 : 행 인덱스 사용에 적합
* 입력값이 없는 셀에 '-' 채워져 있음 => isnull()/isna()로는 결측값 체크 X
    - 삭제하지 않고 대체값 적용 => 대체값 0

(3) 데이터 저장 : Excel -> DataFrame

In [4]:
korpowerDF = pd.read_excel(file, index_col=[0, 1])

(4) 데이터 확인

(4-1) 데이터 타입과 실제 데이터 체크  
    * '-' 데이터를 '0'으로 변경  
    * obejct 타입을 받아 uint16로 변경

In [9]:
korpowerDF

                  1990  1991  1992  1993  1994  1995  1996  1997  1998  1999  \
전력량 (억㎾h) 발전 전력별
남한        합계      1077  1186  1310  1444  1650  1847  2055  2244  2153  2393
          수력        64    51    49    60    41    55    52    54    61    61
          화력       484   573   696   803  1022  1122  1264  1420  1195  1302
          원자력      529   563   565   581   587   670   739   771   897  1031
          신재생        -     -     -     -     -     -     -     -     -     -
북한        합계       277   263   247   221   231   230   213   193   170   186
          수력       156   150   142   133   138   142   125   107   102   103
          화력       121   113   105    88    93    88    88    86    68    83
          원자력        -     -     -     -     -     -     -     -     -     -

                  ...  2007  2008  2009  2010  2011  2012  2013  2014  2015  \
전력량 (억㎾h) 발전 전력별  ...
남한        합계      ...  4031  4224  4336  4747  4969  5096  5171  5220  5281
          수력      ...    50    56    56    65    78    77    84    78    58
          화력      ...  2551  2658  2802  3196  3343  3430  3581  3427  3402
          원자력     ...  1429  1510  1478  1486  1547  1503  1388  1564  1648
          신재생     ...     -     -     -     -     -    86   118   151   173
북한        합계      ...   236   255   235   237   211   215   221   216   190
          수력      ...   133   141   125   134   132   135   139   130   100
          화력      ...   103   114   110   103    79    80    82    86    90
          원자력     ...     -     -     -     -     -     -     -     -     -

                  2016
전력량 (억㎾h) 발전 전력별
남한        합계      5404
          수력        66
          화력      3523
          원자력     1620
          신재생      195
북한        합계       239
          수력       128
          화력       111
          원자력        -

[9 rows x 27 columns]

In [10]:
korpowerDF.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9 entries, ('남한', '합계') to ('북한', '원자력')
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1990    9 non-null      object
 1   1991    9 non-null      object
 2   1992    9 non-null      object
 3   1993    9 non-null      object
 4   1994    9 non-null      object
 5   1995    9 non-null      object
 6   1996    9 non-null      object
 7   1997    9 non-null      object
 8   1998    9 non-null      object
 9   1999    9 non-null      object
 10  2000    9 non-null      object
 11  2001    9 non-null      object
 12  2002    9 non-null      object
 13  2003    9 non-null      object
 14  2004    9 non-null      object
 15  2005    9 non-null      object
 16  2006    9 non-null      object
 17  2007    9 non-null      object
 18  2008    9 non-null      object
 19  2009    9 non-null      object
 20  2010    9 non-null      object
 21  2011    9 non-null      object
 22  2012    9 non-null      object
 23  2013    9 non-null      object
 24  2014    9 non-null      object
 25  2015    9 non-null      object
 26  2016    9 non-null      object
dtypes: object(27)
memory usage: 2.4+ KB

In [12]:
print(korpowerDF.index, korpowerDF.columns, sep='\n\n')

MultiIndex([('남한',  '합계'),
            ('남한',  '수력'),
            ('남한',  '화력'),
            ('남한', '원자력'),
            ('남한', '신재생'),
            ('북한',  '합계'),
            ('북한',  '수력'),
            ('북한',  '화력'),
            ('북한', '원자력')],
           names=['전력량 (억㎾h)', '발전 전력별'])

Index(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016'],
      dtype='object')

(5) 데이터 전처리

(5-1) 데이터 자료형 변환

In [15]:
# '-' -> '0'
korpowerDF2 = korpowerDF.replace('-','0')

In [16]:
# object -> uint16
korpowerDF2 = korpowerDF2.astype('int16')
korpowerDF2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 9 entries, ('남한', '합계') to ('북한', '원자력')
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1990    9 non-null      int16
 1   1991    9 non-null      int16
 2   1992    9 non-null      int16
 3   1993    9 non-null      int16
 4   1994    9 non-null      int16
 5   1995    9 non-null      int16
 6   1996    9 non-null      int16
 7   1997    9 non-null      int16
 8   1998    9 non-null      int16
 9   1999    9 non-null      int16
 10  2000    9 non-null      int16
 11  2001    9 non-null      int16
 12  2002    9 non-null      int16
 13  2003    9 non-null      int16
 14  2004    9 non-null      int16
 15  2005    9 non-null      int16
 16  2006    9 non-null      int16
 17  2007    9 non-null      int16
 18  2008    9 non-null      int16
 19  2009    9 non-null      int16
 20  2010    9 non-null      int16
 21  2011    9 non-null      int16
 22  2012    9 non-null      int16
 23  2013    9 non-null      int16
 24  2014    9 non-null      int16
 25  2015    9 non-null      int16
 26  2016    9 non-null      int16
dtypes: int16(27)
memory usage: 1018.0+ bytes